DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=propertyledger
DATABASE_USER=propertyledger
DATABASE_PASSWORD=propertyledger
DATABASE_HOST=propertyledger-db
DATABASE_PORT=5432

LEDGEROS_BASE_URL=http://host.docker.internal:8001
LEDGEROS_HOST_HEADER=localhost:8001
LEDGEROS_CLIENT_ID=api_full
LEDGEROS_HMAC_SECRET=change-me
LEDGEROS_API_KEY=
LEDGEROS_HEALTH_PATH=/api/v1/health/
LEDGEROS_TIMEOUT_SECONDS=5
